# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/

# dotenv
.env

# virtualenv
.venv
.DS_Store
.vscode/
